<!doctype HTML>
<html>
	<head> 
		<img src = "images/titleimage.jpg" class="center">
	</head>
	<body>
		<audio id="music">
			<source src="music.mp3" type ="audio/mpeg">
		</audio>
		<script src="global.js"> </script>
		<link rel="stylesheet" href="global.css">
		<script src="mainmenu.js"> </script>
		<link rel="stylesheet" href="mainmenu.css">
		<h1> Main Menu </h1>
		<div class = container> 
			<p>1. Travel the trail </p>
			<p>2. Learn about the trail </p>
			<p>3. See the Oregon top 10 </p>
			<p>4. Turn Sound <span id = "on/off"> On </span></p>
		</div>
		
	</body>
</html>