<!doctype HTML>
<html>
	<head> 
		<div id="title"> <img src = "images/titleimage.jpg" class="center"> </div>
	</head>
	<body>
		<audio id="music">
			<source src="music.mp3" type ="audio/mpeg">
		</audio>
		<h1> Trail </h1>
		<script src="global.js"> </script>
		<link rel="stylesheet" href="global.css">
		<script src="trail.js"> </script>
		<link rel="stylesheet" href="trail.css">
		<img src = "images/terrain.jpg"> <br>
		<div id = "days"> Days on Trail:  <br><br> </div>
		<div id = "miles"> Miles Traveled:  <br><br> </div>
		<div id = "health"> Party Health Status:  <br><br> </div>
		<div id = "weather"> Current Weather:  <br><br> </div>
		<div id = "pace"> Current Pace:  <br><br> </div>
		<div id = "terrain"> Current Terrain:  <br><br> </div>
		<div id = "alive">  Party Members Alive: </div>
		
	</body>
</html>